* {
    font-family: 'Baloo Chettan 2', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    min-width: 300px;
}

table {
    width: 50%;
}

td {
    width: 50%;
    margin: 0;
}

input {
    width: 100%;
}

button {
    width: 100%;
    margin: 0;
    box-shadow: 0em;
    max-height: 50px;
    background-color: green;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

#error {
    width: 100%;
    text-align: center;
    color: rgba(250, 0, 0, 0.60)
}

