* {
    font-family: 'Baloo Chettan 2', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

section {

    display: flex;
    flex-direction: column;
    margin: auto;
}

td {
    max-zoom: 230px;
    margin: 0;
}

input {
    width: 200px;
}

button {
    width: 430px;
    margin: 0;
    box-shadow: 0em;
    max-height: 50px;
    background-color: green;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

#error {
    width: 430px;
    text-align: center;
    color: rgba(250, 0, 0, 0.60)
}

